#box{
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
 -fx-fill: ladder(-text-background, white 0%, white 59%, black 60%, black 100%);
}
#pane{
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
     -fx-fill: ladder(-text-background, white 0%, white 59%, black 60%, black 100%);
}
#character1{
        -fx-background-color: black;
        -fx-font: 15px Tahoma;
        -fx-text-fill: white;
        -fx-stroke-width: 1;
        -fx-font-weight: bold;
}
#character2{
        -fx-background-color: black;
        -fx-font: 15px Tahoma;
        -fx-text-fill: white;
        -fx-stroke-width: 1;
        -fx-font-weight: bold;
}
#alert{
        -fx-font: 20px Tahoma;
        -fx-text-fill: black;
        -fx-stroke-width: 1;
        -fx-font-weight: bold;
}
